/*Buttons*/
button {
  background-color: #fdb3d4;
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: 2rem;
}
.read-more {
  width: 8rem;
  padding: 10px;
}
.checkout-button {
  padding: 13px;
  width: 10rem;
  margin-bottom: 2rem;
}
.submit {
  background-color: #fdb3d4;
  border: none;
  border-radius: 4px;
  width: 10rem;
}
