.Shop {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.Shop > * {
  border: 1px solid #000;
}
header {
  grid-column: 1/-1;
}
.ProductList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.product {
  padding: 1.5rem;
}
.open {
  display: initial;
}
.closed {
  display: none;
}
